<mat-list>
  <mat-list-item *ngFor="let chatroom of chatrooms" [routerLink]="['/chatroom', chatroom.id]">
    <!-- <a [routerLink]="['/chatroom', chatroom.id]"></a> -->
    <img matListAvatar src="http://placecorgi.com/600/600" alt="platdef">
    <div matLine> {{chatroom.from}}
      <span class="stime"> {{chatroom.time}} </span>
    </div>
    <div matLine>
      <div class="mes-content" matLine><span class="mes-con-size">{{chatroom.content}}</span></div>
      <div>
        <span class="ktime" matBadge="{{chatroom.mcount}}" matBadgePosition="above before" matBadgeColor="warn"
          matBadgeSize="small"></span>
      </div>
    </div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>